[Unit]
Description=Gunicorn service
Requires=network.target syslog.target
After=network.target syslog.target

[Service]
ExecStart=/home/ubuntu/.local/bin/gunicorn -w 3 -b 0.0.0.0:5003 app
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
User=ubuntu
Group=www-data
Restart=on-failure
SyslogIdentifier=gunicorn
PIDFile=/run/gunicorn.pid

[Install]
WantedBy=multi-user.target
